src/main/resources/META-INF/xsd/library.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns="http://www.zenika.com/camel/tp/library" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.zenika.com/camel/tp/library" elementFormDefault="qualified">

	<xs:element name="library">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="book" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" />
				<xs:element ref="author" />
				<xs:element ref="isbn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="title" type="xs:string" />
	<xs:element name="author" type="xs:string" />
	<xs:element name="isbn" type="xs:string" />

</xs:schema>
